.section_title{
	font-size:1.125em;
	font-weight:bold;
}
.epubStyle1{
	font-family:한양해서;
	font-size:1.313em;
	font-weight:bold;
}
body{
	font-family:바탕;
	font-size:1em;
}
.epubStyle2{
	font-size:0.813em;
}
.comment{
	font-size:0.938em;
	color:#4B8609;
}